/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body{
    background-color: #b2bec3;

}

.vizitka{
    background-color: white;
    text-align: center;
    margin: 150px;
    width: 550px;
}

img{
    border-radius: 50%;
    display: inline-flexbox;
    width: 150px;
    height: 150px;
    border: 3px solid white;
    float: left;
    margin: 0;
}

.foto{
    text-align: right;
    float: right;
}

h1{
    text-align: left;
    color: #d63031;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.text{
    text-align: justify;
    font-size: 18px;
    padding: 30px;
}



/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

